<%- include('../layouts/main-layout.ejs') %>
    <main>
      <form action="/admin/add-product" method="POST">
      <div class="row">
        <div class="col-md-12">
          
            <input type="text" placeholder="Title" name="title">
           
        </div>
        <div class="col-md-12 pt-5">
          <textarea placeholder="Description" name="description"></textarea>
        </div>
        <div class="col-md-6 pt-5">
          
          <button type="submit" class="btn btn-success">Add Product</button>
        
        </div>

      </div>
    </form> 
    </main>

<%- include('../layouts/footer.ejs') %>