<%- include('../layouts/main-layout.ejs') %>

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        
          <% if (errorMessage != '' && errorMessage != undefined) { %>
            <div class="alert alert-warning d-flex align-items-center" role="alert">
              
              <div>
                <%= errorMessage %>
              </div>
            </div>
          <% } %>
              
          <form action="/user/reset-password" method="POST">
            <!-- Email input -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-outline mb-4">
              <input type="email" id="username" name="username" class="form-control form-control-lg"
                placeholder="Enter a valid email address" />
              <label class="form-label" for="username">Email address</label>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Reset Password</button>
              
            </div>

        </form>
      </div>
    </div>
  </div>
  
</section>
<%- include('../layouts/footer.ejs') %>