
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <script type="text/javascript" 
    src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=YgmYxX4-9nsRp86a7n96fi1sUApyBmjW8IP8Yl0QSlF-kYsKpMx7JX0LpqlsEGj5uTom47nwmOZcIddU28EnNTIIO2XxMjpcuqkGicHPXL5IgEpXTVML9ZNkBNXbj6jzLHsmajdyCj4OpAxa3sGwT4HFoCgpfku8wzoRUERhyr1lP2LtQ0YFdps8kEF2Kf5KFvaFcut4_YAjeuSzfXorBWIJsFQ_8olkpc5QJWYtY0XjF2j389RO7WLZVF-F7SlnRP2diR12TvQE9HNyVTbzPL2S9C3nxuuU4pWkYxsUoOiZvvmiWZpEtGqURn6_8W42LEp3rhUxKkQHmIo7J6BBC_uJv5M1bWI4zAuetT-hHeJmT6L56ea0HcFJ9KqFMGHVdTb6xgRV_wf_nil9h3Bk0QxnxLZRBibVFgWxIpBn1UIFPT8IkTLGkTU-C5LsycaC-m7Z8YCIRAZp3bfjYfdsHTm1wi5KvU2vOYXozTfBctPwQDy9dPsQZOPNcHS_tNJ0-th365K30vJc88bIL-QcUidvS7M1RFPElAO8-nYVGY5KcH498RkKkcwMWmA7uIN9evNK2KNWkyRgaRqPZCQXveJu_yY4Hx9EG2MYBaA5HcTUlZXbuHyn2fwzyN1cjNDXdZkRJZUNdKtciHCcgiLbZSVwbA2_6rdwUmROoNZYG7Y6R4-aP16zC6X7kuCtIYPGiP0azzRQ5SJvYT8S0O1YbN4pBl27KknlwlM6wjBZCVU76HWMxnA397OcWj6mJqNICfSAncZo54ZJb6pDxQ4zhw" charset="UTF-8"></script>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <%- include('./navigation.ejs') %>


